<h1>Editing dashbaord form</h1>

<%= render "form", dashbaord_form: @dashbaord_form %>

<br>

<div>
  <%= link_to "Show this dashbaord form", @dashbaord_form %> |
  <%= link_to "Back to dashbaord forms", dashbaord_forms_path %>
</div>
