<p style="color: green"><%= notice %></p>

<h1>Dashbaord forms</h1>

<div id="dashbaord_forms">
  <% @dashbaord_forms.each do |dashbaord_form| %>
    <%= render dashbaord_form %>
    <p>
      <%= link_to "Show this dashbaord form", dashbaord_form %>
    </p>
  <% end %>
</div>

<%= link_to "New dashbaord form", new_dashbaord_form_path %>
