.card {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
  align-content: center;
  // background-color: aqua;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  flex-grow: 1;
  width: 180px;
}

.card1 {
  width: fit-content;
}

.card2 {
  height: fit-content;
  padding: 30px;
  padding-top: 35px;
  width: 250px;
  background-color: green;
}

.card3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  flex-grow: 1;
  grid-template-rows: 1fr;
}

.card4 {
  grid-template-rows: 1fc 1fc 1fc 1fc;
}

.rows {
  display: flex;
  justify-content: center;
}

.title {
  background-color: #99CC01;
  padding: 20px;
  align-content: center;
  width: max-content;
}

.description {
  background-color: #99CC01;
  padding: 20px;
  width: max-content;
}

.end {
  background-color: #99CC01;
  padding: 20px;
  width: max-content;
}

.box {
  padding: 10px;
  width: 200px;
  height: fit-content;
  grid-gap: 10px;
  background-color: #01FFFF;
  margin: 4px;
}

.syndicator_info {
  background-color: rgb(124, 45, 124);
  color: white;
  padding: 20px;
  width: 750px;
}

.major_container {
  padding: 20px;
  margin: 10px;
}

.big_number{
  text-align: center;
  padding: 10px;
}

.chicken {
  display: flex;
  background-color: #FFF97F;
  width: fit-content;
  padding-top: 20px;
  justify-content: center;
}

.new_company {
  background-color: aquamarine;
}

.row {
  background-color: green;
  display: flex;
  align-content: center;
  margin: auto 0;
}

.row2 {
  background-color: green;
  display: grid;
  width: 1000px;
  align-self: center;
  margin: auto 0;
  padding: 10px;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 600px;
}

.container {
  background-color: rgb(255, 249, 127);
  display: grid flex;
  width: fit-content;
}

.container2 {
  // align-content: center;
  margin: auto 0;
  padding: 20px;
}

.container3 {
  margin: auto 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

@media(max-width: 992px) {
  .card {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
  }
}

.box {
  display: inline-flex;
}
