<div class="background3">
  <div class="inform">
    <h3>Please make any/all necessary edits</h3>

    <%= render "form", information_form: @information_form %>

    <br>

    <div class="button-edit">
      <%= link_to "Cancel information input", information_forms_path, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
    </div>
  </div>
</div>
