<div class="background3">
  <div class="inform">
    <h1>Please fill in all boxes: </h1>

    <%= render "form", information_form: @information_form %>

    <br>

    <div class="return">
      <%= link_to "Go back", information_forms_path, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
    </div>
  </div>
</div>
