<div class="primary">
  <h2 class="Title">Welcome Syndicator!</h2>
  <h5>This is the Bosham Oil Syndicate *BOS*. Please select the button below and go to your syndicate form. Once you have completed the form, you will be taken to the the Meeting Room.</h5>
  <h5>The 'Meeting Room' will be accessible 24/7 and is strictly for syndicators to review company information displayed via the sites admin and presented beside the *future* comment board.</h5>
  <h5>As updates are made to this site, key parts are likely to change, including a reset of the comment table every 24 hours and more interactive features.</h5>
  <%= link_to "Fill in Syndicator form", information_forms_url, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
</div>
