<div class="background2">
<br><br><br><br><br><br><br><br>
  <div class="blur">
    <div class="box6">
      <div class="what">
        <h1><strong>About</strong></h1>
        <h4>Welcome to the BOS Bosham Oil Syndicate!</h4>
      </div>
      <p>This website is for property owners in the Bosham area that require imported oil. Through the Bosham Oil Syndicate, administrated by Mrs Racheal Murphy, the website is tasked with providing the admin information on syndicate members key information, primarily their fuel cap and oil requirements. Once all oil requirements are collected, the administrator will assess various oil distributors to collect the necessary quantity of oil.</p>

      <div class="homage">
        <%= link_to "Back to the Home Page", root_path, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
      </div>
    </div>
  </div>
</div>
