<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <%# <link rel="stylesheet" href="components/_index.scss" /> %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Website Homepage</title>
</head>
<div class="background2">
  <% if current_user.present? == false %>
  <br>
    <div class="index">
      <div class="bulky">
        <div class="intro_box">
          <div class="logo col-12 col-lg-6">
            <%= image_tag 'the_official_bos.png', class: "logo" %>
            <div class="m-8" ><h1 class="text-center-logo"><strong>The<br> BOS</strong></h1></div>
          </div>
        </div>
          <h3>Welcome to the <strong>B</strong>osham <strong>O</strong>il <strong>S</strong>yndicate! Please select if you are an administrator or user.</h3>
          <br>
          <div class="about">
            <%= link_to "About the site", about_path, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
          </div>
      </div>
        <div class="which_root col-12 col-md-6">
                  <div class="row p-5 top-hero text-center justify-content-around">
                      <div class="user col-5">
                        <%= link_to "User", new_user_registration_path( status: { status:"user" }), class: "btn btn-pink text-grey text-uppercase fw-bold", style: "color:black"%>
                      </div>
                      <div class="admin col-5">
                        <%= link_to "admin", admin_session_path( status: { status:"admin" }), class: "btn btn-pink text-grey text-uppercase fw-bold", style: "color:black" %>
                      </div>
                  </div>
        </div>
    </div>
    <% end %>
</div>
