<div class="entirity">
  <div class="inform2">
    <div class="title2"><h1>Editing Company</h1></div>

    <%= render "form", dashboard_form: @dashboard_form %>


    <div class="central"><br>
      <%= link_to "Back to your dashboard", dashboard_forms_path, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
    </div>
  </div>
</div>
