<h1>Editing Dashboard form</h1>

<%= render "form", dashboard_form: @dashboard_form %>

<br>

<div>
  <%= link_to "Show this company", @dashboard_form %> |
  <%= link_to "Back to company", dashboard_forms_path %>
</div>
