
<div class="entirity">
  <div class="inform">
    <div class="edit-style">
      <div class="edition">
        <%= render @dashboard_form %>
      </div>

      <div class="edit-options">
        <br>
        <%= link_to "Edit company information", edit_dashboard_form_path(@dashboard_form), class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %> <br><br>
        <%= link_to "Return to the Dashboard", dashboard_forms_path, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %> <br><br>

        <%= button_to "Delete company", @dashboard_form, method: :delete, class: "btn btn-pink text-grey text-uppercase rounded-pill fw-bold" %>
      </div>
    </div>
  </div>
</div>
